/* ----Frame.html css---- */

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

.Frame-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.form {
    width: 340px;
    height: 286px;
    gap: 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(0, 39, 66, 1);
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-weight: bold;
}

.password-container {
    position: relative;
}

.framepassword {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 340px;
    height: 30px;
    gap: 4px;
}

.password-toggle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: rgba(65, 61, 123, 1);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.light-black-background {
    background-color: rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-size: 14px;
}